body {
  background-color: #5cdb95;
}

#header {
  height: 75px;
  background-color: #edf5e1;
  border: 2px #05386b solid;
}

.navbar-brand {
  font-size: 35px;
  color: #05386b;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #5cdb95;
  border: 2px #05386b solid;
}

div p {
  text-align: justify;
}

.tile {
  background-color: #edf5e1;
  height: auto;
  padding: 8px;
  border: 2px #05386b solid;
  margin-bottom: 25px;
}

section h2 {
  background-color: #edf5e1;
  width: 20%;
  margin: 70px auto 35px;
}

li{
  background-color: #edf5e1;
  text-align: center;
  border-bottom: 2px #05386b solid;
  border-right: 2px #05386b solid;
  border-left: 2px #05386b solid;
  font-weight: bold;
}
.Chicken {
  border-top: 2px #05386b solid;
  margin-top: 8px;
}

.container-md {
  padding: 0px;
}
#navbarSupportedContent {
  width: 100%;
  margin: -18px;
}
