body {
   background-color: purple;
}

h1 {
   background-color: white;
   color: purple;
   text-align: center;
   border-bottom: 5px solid black;
   font-size: 40px;
   padding: 8px;
   margin: -0.2em -0.2em 0px -0.2em;
}

section, article {
   background-color: white;
   color: purple;
   padding: 8px;
   border: 2px solid purple;
}

#Introduction {
   width: 70%;
   background-color: white;
   color: purple;
   padding: 8px;
   border: 2px solid purple;
}

article {
    width: 70%;
   background-color: white;
   color: purple;
   padding: 8px;
   border: 2px solid purple;
   height: 12.5em;
}

section {
   width: 27%;
   float: right;
   clear: right;
}
h2 {
   background-color: purple;
   color: white;
   text-align: center;
}
.list {
   border: 2px purple solid;
   float: left;
   padding: 1em;
   width: 25%;
   margin-left: 2em;
}
